h1{
    font-family: lato;
    font-weight:900;
    font-size: 2.027rem;
}

h2{
    font-family: lato;
    font-weight:700;
    font-size: 1.802rem;
}

h3{
    font-size: 1.424rem;
}

p{
    font-family: karla;
    font-size: 16px;
}


.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 100;
  }
  
  .skip-link:focus {
    top: 0;
  }


body{
    background-color: lightgray;
    margin: 0;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
    background-color: #f3f0e9;;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

.logo{
    width: 40%;
}

.logo:hover{
    transform: rotateY(720deg);
    transition: 1s ease-in-out;
}

a{
    background-color: #ffffff;
    color: #000000;
    padding: 15px 30px;
    text-decoration: none;
    font-family: karla;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    transition: background-color 0.3s ease
}


a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border: #ffffff 2px solid;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px white;
}

.btnn:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border: #ffffff 0 solid;
    color: #ffffff;
    padding: 0;
    box-shadow: 0 0 10px white; 
}

.btna{
    background-color: #000000;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    font-family: karla;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    transition: background-color 0.3s ease  
}

.btna:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border: #000000 2px solid;
    color: #000000;
    padding: 20px;
    box-shadow: 0 0 10px #000000; 
}

header a{
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
    background-color: #000000;
    padding: 0;
}


ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 10px;
}

li{
    text-decoration: none;
    list-style-type: none;
}

.intro{
    background-image:url(../images/hero-background.jpg) ;
    height: 75vh;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;

}

.transparent{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    align-content: center;
    text-align: center;
    color: #ffffff;
}

.transparent>p{
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
}

.transparent>h1{
    display: block;
    width: 75%;
    margin: auto;
    margin-bottom: 20px;

}

.service>h2{
    display: block;
    width: 70%;
}

.service{
    background-color:#f3f0e9;
    margin-top: 0;
    padding: 10px;
    padding-top: 50px;
}

.introP{
    text-align: start;
    color: #966f2c;
    font-size: 18px;
    font-weight: 700;
}

.images{
    margin: auto;
    box-sizing:border-box;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "le le"
                         "cb pc"
                         "tc se";
}

img{
    width: 100%;
}

#le{grid-area: le;}
#cb{grid-area: cb;}
#pc{grid-area: pc;}
#tc{grid-area: tc;}
#se{grid-area: se;}

.orange{
    color: #966f2c;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.offer{
    margin-top: 60px;
    padding: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.offer  h2{
    display: block;
    margin: auto;
    text-align: center;
}

.offer p{
    text-align: center;
}

.offer  img{
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 40px;

}

.menu{
    height: 80vh;
    background-image: url(../images/coffee-shop.jpeg);
    background-size: contain;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.transparent2{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    align-content: center;
    text-align: center;
    color: #ffffff;
}

.transparent2 h2{
    display: block;
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 0;
}

.transparent2 p{
    margin-bottom: 0;
}

.transparent2 a{
    margin-bottom: 50px;
}

.about{
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about>h2{
    margin-top: 15PX;
    margin-bottom: 15PX;
}

.brown{
    color: #D69E3D;
    font-size: 18px;
    font-weight: 700;
    text-align: start; 
}

.testimonial, .t1, .t2, .t3{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonial>h2{
    display: block;
    width: 75%;
}

.t1{
    height: 75vh;
    background-image: url(../images/testimonial-1.jpeg);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.t2{
    height: 75vh;
    background-image: url(../images/testimonial-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 20px;
}

.t3{
    height: 75vh;
    background-image: url(../images/testimonial-3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    margin-bottom: 0;
}

.layer{
    height: 100%;
    width: 100%;
    align-content: end;
    color: #ffffff;
}

blockquote{
    margin-left: 0;
}

hr{
    margin: 10px;
}

footer{
    background-color: #000000;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 50px;
    text-align: center;
}


@media screen and (min-width: 768px){

    .offer > h2{
        width: 50%;
    }

    .images{
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: "le le cb pc"
                             "le le tc se";
    }

    .we-offer{grid-area: wo;}
    .fair-trade{grid-area: ft;}
    .local-baked{grid-area: lb;}
    .with-love{grid-area: wl;}

    .offer{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: ". wo wo ."
                             "ft ft lb lb"
                             ". wl wl .";
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        gap: 20px;

        padding-bottom: 50px;

    }

    .transparent2{
        display: flex;
        align-items: center;
        margin: auto;
    }

    .about img{
        width: 50%;
    }
    .about{
        display: flex;
        gap: 20px;
    }

    .testimonial>div{
        display: flex;
        gap: 10px;
    }

    .t1,.t2,.t3{
        display: flex;
        flex-direction: column;
    }



}


@media screen and (min-width: 1100px){

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 15%;
        padding-right: 15%;
    }

    .logo{
        width: 200px;
    }

    .transparent{
        padding-left: 20%;
        padding-right: 20%;
    }

    .service, .about, .testimonial, footer{
        padding-left: 15%;
        padding-right: 15%;
    }

    .offer{
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: ". wo ."
                             "ft lb wl";
        gap:20px
    }

    .offer img{
        width: 100px;
    }

    .menu{
        height: 45vh;
    }

    .transparent2{
        justify-content: center;
    }

    .testimonial{
        height: 70vh;
    }

    .t1,.t2,.t3{
        height: 300px;
        padding-bottom: 0;
    }

}

